{% assign feed = RDF.item %}

<div class="layout">
  <div class="grid grid--cols-1 gap--large"  data-list-limit="true" data-list-max-height="420" data-list-hidden-count="false">
    {% for item in feed %}
    <div class="item">
      <div class="meta"></div>
      <div class="content" style="justify-content:center;">
        <div class="title title--small">{{ item.title }}</div>
        <div class="flex gap--small">
          <div class="label label--small label--underline">{{ item.subject }}</div>
          <div class="label label--small label--underline">Veröffentlicht: {{ item.date | date: "%s" | plus: trmnl.user.utc_offset | date: "%H:%M" }}</div>
        </div>
      </div>
    </div>
    {% endfor %}   
  </div>
</div>

<div class="title_bar">
  <img class="image" src="data:image/svg+xml;base64,{{ plugin_icon | base64_encode }}">
  <span class="title">news.ORF.at</span>
  <span class="instance">Aktualisiert: {{ "now" | date: '%s' | plus: trmnl.user.utc_offset | date: "%Y-%m-%d %H:%M" }}</span>
</div>